<section>
  <div class="container hire">
      <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12 text-center">
              <img src="img/hire.png" class="matrix">
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 text-center info-content">
              <h2>Can I hire You?</h2>
              <p>
                Yes we are available for hire, whether to give training, customize this app,
                or just deploy it to your cloud. Leave us message at radiegtya@yahoo.co.id
                or wa/telegram +6285641278479. We will be happy to work with you.
              </p>
          </div>
      </div>
  </div>
</section>
