<section>
    <div class="container info">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <img src="img/matrix-BukanMesenger.png" class="matrix">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 text-center info-content">
                <h2>What is it ?</h2>
                <p>
                  BukanMessenger is open source chat app build on top React Native and Meteor. 
                  It is customizeable and some new feature will coming soon every week.
                </p>
            </div>
        </div>
    </div>
</section>
