<section>
  <div class="container info text-center">
      <div class="row">
          <h2>How you can support us?</h2>
          <h4 class="sub-info">Here's what you can do <button class="btn btn-primary"><i class="fa fa-github" aria-hidden="true"></i> Star us</button></h4>
          <div class="col-md-6 col-sm-6 col-xs-12 text-center">
            <img src="/img/github.png" class="github">
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 text-center">
            <img src="/img/repo.png" class="repo">
          </div>
      </div>
  </div>
</section>
